.quadrado-iniciar-treino{
    display: flex;
    margin-top: 20px;
}
.quadrado-iniciar-treino p{
    margin: auto;
}

.div-treino-ativo{
    margin-top: 50px;
}

.div-treino-separado{
    margin: 15px;
    align-items: center;
    width: 100%;
}

.div-treino-concluido{
    margin: 15px;
}